[profile.default]
src = "src"
out = "out"
libs = ["lib"]
solc = "0.8.28"
optimizer = true
optimizer_runs = 200
evm_version = "cancun"
via_ir = true

# Fork settings
[rpc_endpoints]
base = "https://mainnet.base.org"

[fuzz]
runs = 256

[fmt]
line_length = 100
tab_width = 4
